<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加等级</title>
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css" media="all" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
    <script type="text/javascript" src="../static/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/jq-module/zyupload/zyupload-1.0.0.min.css"
          th:href="@{/lib/jq-module/zyupload/zyupload-1.0.0.min.css}" media="all">
    <link rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}" media="all">
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

</head>
<body id="app">
<form class="layui-form" action="" lay-filter="example" id="problemLevel">
    <div class="layui-form-item">
        <input id="problemLevelId" type="hidden" name="problemLevelId" th:value="${problemLevel.problemLevelId}">
    </div>
    <div class="layui-form-item">
        <h3>等级名称</h3>
        <input type="text" id="problemLevelName" name="problemLevelName" class="layui-input" th:value="${problemLevel.problemLevelName}">
    </div>
    <div class="layui-form-item">
        <button type="button" class="layui-btn layui-btn-normal"
                onclick="window.history.go(-1)">返回
        </button>
        <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">保存</button>
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">确定</button>
    </div>
</form>
<script src="../static/lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
<script src="../static/js/jquery.min.js" charset="utf-8" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script src="../static/js/mathjax.js" th:src="@{/js/mathjax.js}"></script>
<script src="../static/lib/jq-module/zyupload/zyupload-1.0.0.min.js"
        th:src="@{/lib/jq-module/zyupload/zyupload-1.0.0.min.js}" charset="utf-8"></script>
<!--添加标签-->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        const form = layui.form, layer = layui.layer;
        //监听提交
        form.on('submit(submit)', function (data) {
            $.ajax({
                //请求格式
                datatype: 'json',
                //请求方式
                type: "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url: "/admin/add/level",
                //数据，json字符串
                data: JSON.stringify(data.field),
                //请求成功
                success: function (problemLevel) {
                    problemLevel = JSON.parse(problemLevel);
                    if (problemLevel.problemLevelId != null) {
                        layer.alert('成功');
                    }
                    return false;
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    layui.msg("提交失败")
                }
            });
            return false;
        });
    });
</script>
</body>
</html>