<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讨论管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="../static/css/xadmin.css" th:href="@{/css/xadmin.css}">
    <script src="../static/lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="../static/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css" media="all" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
    <script type="text/javascript" src="../static/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/jq-module/zyupload/zyupload-1.0.0.min.css"
          th:href="@{/lib/jq-module/zyupload/zyupload-1.0.0.min.css}" media="all">
    <link rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}" media="all">
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>讨论标题</th>
                            <th>所属用户</th>
                            <th>发表时间</th>
                            <th>是否置顶</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="discussions">
                        <tr>
                            <td>148</td>
                            <td>HZU蓝桥杯校内第一次选拔赛</td>
                            <td>2021-02-13 00:22</td>
                            <td>2030-01-18 04:22</td>
                            <td>IOI</td>
                            <td class="td-manage">
                                <a title="编辑" onclick="xadmin.open('编辑','/admin/contest?contestId=148')" href="javascript:;">
                                    <i class="layui-icon"></i>
                                </a>
                                <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                                    <i class="layui-icon"></i>
                                </a><a title="更新比赛" onclick="updateContestRank(this,148)" href="javascript:;">
                                <i class="layui-icon"></i>
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
<script src="../static/js/jquery.min.js" charset="utf-8" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script src="../static/js/mathjax.js" th:src="@{/js/mathjax.js}"></script>
<script src="../static/lib/jq-module/zyupload/zyupload-1.0.0.min.js"
        th:src="@{/lib/jq-module/zyupload/zyupload-1.0.0.min.js}" charset="utf-8"></script>
<script src="../static/js/DateUtils.js" th:src="@{/js/DateUtils.js}"></script>
<script>
    layui.use(['laypage', 'layer'], function () {
        const laypage = layui.laypage, layer = layui.layer;

        //自定义每页条数的选择项
        function loadData(page) {
            $.ajax({
                dataType: "json",
                //请求方式
                type: "post",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url: "/admin/discussions/list?page=" + page,
                //请求成功
                success: function (result) {
                    if (result["code"] == 1) {
                        const pageInfo = result["data"];
                        $("#discussions").html('');
                        const discussions = pageInfo.list;
                        for (let i = 0; i < discussions.length; i++) {
                            const discussion = discussions[i];
                            let top = "否";
                            if (discussion.discussionTop != null && discussion.discussionTop > 0) {
                                top = "是";
                            }
                            $("#discussions").append(" <tr>\n" +
                                "                            <td>"+discussion.discussionId+"</td>\n" +
                                "                            <td>"+discussion.discussionTitle+"</td>\n" +
                                "                            <td>"+discussion.user.username+"</td>\n" +
                                "                            <td>"+discussion.discussionCreateTime+"</td>\n" +
                                "                            <td>"+top+"</td>\n" +
                                "                            <td class=\"td-manage\">\n" +
                                "                                <a title=\"编辑\" onclick=\"xadmin.open('编辑','/admin/discussion?discussionId=" + discussion.discussionId + "')\" href=\"javascript:;\">\n" +
                                "                                    <i class=\"layui-icon layui-icon-edit\"></i>\n" +
                                "                                </a>\n" +
                                "                                <a title=\"删除\" onclick=\"member_del(this," + discussion.discussionId + ")\" href=\"javascript:;\">\n" +
                                "                                    <i class=\"layui-icon\"></i>\n" +
                                "                                </a>\n" +
                                "                            </a>\n" +
                                "                            </td>\n" +
                                "                        </tr>")
                        }
                        laypage.render({
                            elem: 'page'
                            , count: pageInfo.total
                            , limit: pageInfo.pageSize
                            , curr: page
                            , done: function () {
                            }
                            , jump: function (obj, first) {
                                if (!first) {
                                    loadData(obj.curr, page);
                                }
                            }
                        });
                    }
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    layui.msg("提交失败")
                }
            });
            return false;
        };
        window.onload = function () {
            loadData(1);
        }
    });

</script>
<script>
    layui.use(['laydate', 'form'], function () {
        const laydate = layui.laydate;
        const form = layui.form;
        // 监听全选
        form.on('checkbox(checkall)', function (data) {
            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*删除问题*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function () {
            //发异步删除数据
            $.ajax({
                dataType: "json",
                //请求方式
                type: "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求路径
                url: "/admin/delete/discussion/" + id,
                success: function (result) {
                    if (result["code"] == "1") {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    } else {
                        layer.msg('删除失败!', {icon: 5, time: 1000});
                    }
                },
                error: function (result) {
                    layer.msg('删除失败!', {icon: 5, time: 1000});
                }
            });

        });
    }
</script>
</html>