
.severity-icon.severity-error {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.58318%202.02842C9.96435%202.16331%2011.2561%202.77279%2012.2383%203.75307C13.3643%204.87923%2013.9978%206.40584%2014%207.99829C14.0004%209.38617%2013.5196%2010.7313%2012.6396%2011.8045C11.7595%2012.8778%2010.5345%2013.6127%209.17333%2013.8841C7.81215%2014.1556%206.39895%2013.9467%205.1745%2013.2931C3.95005%2012.6394%202.99008%2011.5815%202.45814%2010.2995C1.92619%209.0175%201.85517%207.59072%202.25717%206.26222C2.65917%204.93373%203.50933%203.7857%204.66282%203.0137C5.8163%202.24171%207.20177%201.89351%208.58318%202.02842ZM8.68038%201.03316C10.292%201.19055%2011.7993%201.90184%2012.9453%203.04585C14.2587%204.35938%2014.9976%206.14013%2015%207.99764C15.0005%209.61695%2014.4396%2011.1864%2013.4129%2012.4385C12.3861%2013.6907%2010.9569%2014.5482%209.36889%2014.8648C7.78084%2015.1815%206.13211%2014.9378%204.70359%2014.1752C3.27506%2013.4127%202.1551%2012.1784%201.53449%2010.6828C0.913887%209.18708%200.831027%207.52251%201.30003%205.97259C1.76903%204.42268%202.76089%203.08331%204.10662%202.18265C5.45236%201.28199%207.06873%200.875761%208.68038%201.03316ZM5.52498%205L8.00004%207.47506L10.4751%205L11.1822%205.70711L8.70714%208.18217L11.1818%2010.6569L10.4747%2011.364L8.00004%208.88927L5.52535%2011.364L4.81824%2010.6569L7.29293%208.18217L4.81787%205.70711L5.52498%205Z%22%20fill%3D%22%23a1260d%22%2F%3E%3C%2Fsvg%3E") center center no-repeat;
    height: 16px;
    width: 16px;
}

.severity-icon.severity-warning {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14.12%2013.9725L15%2012.5L9.37927%202H7.61924L1.9985%2012.5L2.87852%2013.9725H14.12ZM2.87852%2012.9725L8.49925%202.47249L14.12%2012.9725H2.87852ZM7.98952%206H8.98802V10H7.98952V6ZM7.98952%2011H8.98802V12H7.98952V11Z%22%20fill%3D%22%23ddb100%22%2F%3E%3C%2Fsvg%3E") center center no-repeat;
    height: 16px;
    width: 16px;
}

.severity-icon.severity-info {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%207.5C3%204.46243%205.46243%202%208.5%202C11.5376%202%2014%204.46243%2014%207.5C14%2010.5376%2011.5376%2013%208.5%2013C5.46243%2013%203%2010.5376%203%207.5ZM2%207.5C2%203.91015%204.91015%201%208.5%201C12.0899%201%2015%203.91015%2015%207.5C15%2011.0899%2012.0899%2014%208.5%2014C4.91015%2014%202%2011.0899%202%207.5ZM8%204V5H9V4H8ZM8%206L8%2010H9L9%206H8Z%22%20fill%3D%22%23007acc%22%2F%3E%3C%2Fsvg%3E") center center no-repeat;
    height: 16px;
    width: 16px;
}

.severity-icon.severity-ignore {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%207.5C3%204.46243%205.46243%202%208.5%202C11.5376%202%2014%204.46243%2014%207.5C14%2010.5376%2011.5376%2013%208.5%2013C5.46243%2013%203%2010.5376%203%207.5ZM2%207.5C2%203.91015%204.91015%201%208.5%201C12.0899%201%2015%203.91015%2015%207.5C15%2011.0899%2012.0899%2014%208.5%2014C4.91015%2014%202%2011.0899%202%207.5ZM8%204V5H9V4H8ZM8%206L8%2010H9L9%206H8Z%22%20fill%3D%22%2375beff%22%2F%3E%3C%2Fsvg%3E") center center no-repeat;
    height: 16px;
    width: 16px;
}

.monaco-editor .minimap-slider, .monaco-editor .minimap-slider .minimap-slider-horizontal {
    background: rgba(100, 100, 100, 0.2);
}

.monaco-editor .minimap-slider:hover, .monaco-editor .minimap-slider:hover .minimap-slider-horizontal {
    background: rgba(100, 100, 100, 0.35);
}

.monaco-editor .minimap-slider.active, .monaco-editor .minimap-slider.active .minimap-slider-horizontal {
    background: rgba(0, 0, 0, 0.3);
}

.monaco-editor .minimap-shadow-visible {
    box-shadow: #dddddd -6px 0 6px -6px inset;
}

.monaco-editor .scroll-decoration {
    box-shadow: #dddddd 0 6px 6px -6px inset;
}

.monaco-editor .focused .selected-text {
    background-color: #d6d6d6;
}

.monaco-editor .selected-text {
    background-color: #e5ebf1;
}

.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: #ffffff;
}

.monaco-editor, .monaco-editor .inputarea.ime-input {
    color: #4d4d4c;
}

.monaco-editor .margin {
    background-color: #ffffff;
}

.monaco-editor .rangeHighlight {
    background-color: rgba(253, 255, 0, 0.2);
}

.vs-whitespace {
    color: #d1d1d1 !important;
}

.monaco-editor .view-overlays .current-line {
    background-color: #efefef;
}

.monaco-editor .margin-view-overlays .current-line-margin {
    background-color: #efefef;
    border: none;
}

.monaco-editor .lines-content .cigr {
    box-shadow: 1px 0 0 0 #d3d3d3 inset;
}

.monaco-editor .lines-content .cigra {
    box-shadow: 1px 0 0 0 #939393 inset;
}

.monaco-editor .line-numbers {
    color: #237893;
}

.monaco-editor .current-line ~ .line-numbers {
    color: #0b216f;
}

.monaco-editor .view-ruler {
    box-shadow: 1px 0 0 0 #d3d3d3 inset;
}

.monaco-editor .cursor {
    background-color: #aeafad;
    border-color: #aeafad;
    color: #515052;
}

.monaco-editor.vs .valueSetReplacement {
    outline: solid 2px #b9b9b9;
}

.monaco-editor .squiggly-error {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23e51400'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
}

.monaco-editor .squiggly-warning {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23e9a700'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
}

.monaco-editor .squiggly-info {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%2375beff'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
}

.monaco-editor .squiggly-hint {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%223%22%20width%3D%2212%22%3E%3Cg%20fill%3D%22%236c6c6c%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%225%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%229%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat bottom left;
}

.showUnused .monaco-editor .squiggly-inline-unnecessary {
    opacity: 0.467;
}

.monaco-editor .squiggly-inline-deprecated {
    text-decoration: line-through;
    text-decoration-color: #4d4d4c
}

.monaco-diff-editor .diff-review-line-number {
    color: #237893;
}

.monaco-diff-editor .diff-review-shadow {
    box-shadow: #dddddd 0 -6px 6px -6px inset;
}

.monaco-editor .line-insert, .monaco-editor .char-insert {
    background-color: rgba(155, 185, 85, 0.2);
}

.monaco-diff-editor .line-insert, .monaco-diff-editor .char-insert {
    background-color: rgba(155, 185, 85, 0.2);
}

.monaco-editor .inline-added-margin-view-zone {
    background-color: rgba(155, 185, 85, 0.2);
}

.monaco-editor .line-delete, .monaco-editor .char-delete {
    background-color: rgba(255, 0, 0, 0.2);
}

.monaco-diff-editor .line-delete, .monaco-diff-editor .char-delete {
    background-color: rgba(255, 0, 0, 0.2);
}

.monaco-editor .inline-deleted-margin-view-zone {
    background-color: rgba(255, 0, 0, 0.2);
}

.monaco-diff-editor.side-by-side .editor.modified {
    box-shadow: -6px 0 5px -5px #dddddd;
}

.monaco-editor .bracket-match {
    background-color: rgba(0, 100, 0, 0.1);
}

.monaco-editor .bracket-match {
    border: 1px solid #b9b9b9;
}

.monaco-editor .codelens-decoration {
    color: #999999;
}

.monaco-editor .codelens-decoration > a:hover {
    color: #0000ff !important;
}

.monaco-editor .findOptionsWidget {
    background-color: #f3f3f3;
}

.monaco-editor .findOptionsWidget {
    box-shadow: 0 2px 8px #a8a8a8;
}

.monaco-editor .findMatch {
    background-color: rgba(234, 92, 0, 0.33);
}

.monaco-editor .currentFindMatch {
    background-color: #a8ac94;
}

.monaco-editor .findScope {
    background-color: rgba(180, 180, 180, 0.3);
}

.monaco-editor .find-widget {
    background-color: #f3f3f3;
}

.monaco-editor .find-widget {
    box-shadow: 0 2px 8px #a8a8a8;
}

.monaco-editor .find-widget {
    color: #616161;
}

.monaco-editor .find-widget.no-results .matchesCount {
    color: #a1260d;
}

.monaco-editor .find-widget .monaco-sash {
    background-color: #c8c8c8;
    width: 3px !important;
    margin-left: -4px;
}

.monaco-editor .find-widget .monaco-checkbox .checkbox:checked + .label {
    border: 1px solid rgba(0, 122, 204, 0);
}

.monaco-editor .find-widget .monaco-checkbox .checkbox:checked + .label {
    background-color: rgba(0, 122, 204, 0.12);
}

.monaco-workbench .monaco-editor .find-widget .monaco-inputbox.synthetic-focus {
    outline-color: rgba(0, 122, 204, 0.4);
}

.monaco-editor .detected-link-active {
    color: #0000ff !important;
}

.monaco-editor .monaco-editor-overlaymessage .anchor {
    border-top-color: #007acc;
}

.monaco-editor .monaco-editor-overlaymessage .message {
    border: 1px solid #007acc;
}

.monaco-editor .monaco-editor-overlaymessage .message {
    background-color: #d6ecf2;
}

.monaco-editor .parameter-hints-widget {
    border: 1px solid #c8c8c8;
}

.monaco-editor .parameter-hints-widget.multiple .body {
    border-left: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .parameter-hints-widget .signature.has-docs {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .parameter-hints-widget {
    background-color: #f3f3f3;
}

.monaco-editor .parameter-hints-widget a {
    color: #006ab1;
}

.monaco-editor .parameter-hints-widget code {
    background-color: rgba(220, 220, 220, 0.4);
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row .monaco-highlighted-label .highlight {
    color: #0066bf;
}

.monaco-editor .suggest-widget {
    color: #4d4d4c;
}

.monaco-editor .suggest-widget a {
    color: #006ab1;
}

.monaco-editor .suggest-widget code {
    background-color: rgba(220, 220, 220, 0.4);
}

.monaco-editor .focused .selectionHighlight {
    background-color: rgba(173, 214, 255, 0.3);
}

.monaco-editor .selectionHighlight {
    background-color: rgba(173, 214, 255, 0.15);
}

.monaco-editor .wordHighlight {
    background-color: rgba(87, 87, 87, 0.25);
}

.monaco-editor .wordHighlightStrong {
    background-color: rgba(14, 99, 156, 0.25);
}

.monaco-editor .accessibilityHelpWidget {
    background-color: #f3f3f3;
}

.monaco-editor .accessibilityHelpWidget {
    color: #616161;
}

.monaco-editor .accessibilityHelpWidget {
    box-shadow: 0 2px 8px #a8a8a8;
}

.monaco-editor .tokens-inspect-widget {
    border: 1px solid #c8c8c8;
}

.monaco-editor .tokens-inspect-widget .tokens-inspect-separator {
    background-color: #c8c8c8;
}

.monaco-editor .tokens-inspect-widget {
    background-color: #f3f3f3;
}

.monaco-editor .reference-zone-widget .ref-tree .referenceMatch .highlight {
    background-color: rgba(234, 92, 0, 0.3);
}

.monaco-editor .reference-zone-widget .preview .reference-decoration {
    background-color: rgba(245, 216, 2, 0.87);
}

.monaco-editor .reference-zone-widget .ref-tree {
    background-color: #f3f3f3;
}

.monaco-editor .reference-zone-widget .ref-tree {
    color: #646465;
}

.monaco-editor .reference-zone-widget .ref-tree .reference-file {
    color: #1e1e1e;
}

.monaco-editor .reference-zone-widget .ref-tree .monaco-list:focus .monaco-list-rows > .monaco-list-row.selected:not(.highlighted) {
    background-color: rgba(51, 153, 255, 0.2);
}

.monaco-editor .reference-zone-widget .ref-tree .monaco-list:focus .monaco-list-rows > .monaco-list-row.selected:not(.highlighted) {
    color: #6c6c6c !important;
}

.monaco-editor .reference-zone-widget .preview .monaco-editor .monaco-editor-background, .monaco-editor .reference-zone-widget .preview .monaco-editor .inputarea.ime-input {
    background-color: #f2f8fc;
}

.monaco-editor .reference-zone-widget .preview .monaco-editor .margin {
    background-color: #f2f8fc;
}

.monaco-editor .goto-definition-link {
    color: #0000ff !important;
}

.monaco-editor .marker-widget a {
    color: #006ab1;
}

.monaco-editor .hoverHighlight {
    background-color: rgba(173, 214, 255, 0.15);
}

.monaco-editor .monaco-editor-hover {
    background-color: #f3f3f3;
}

.monaco-editor .monaco-editor-hover {
    border: 1px solid #c8c8c8;
}

.monaco-editor .monaco-editor-hover .hover-row:not(:first-child):not(:empty) {
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .monaco-editor-hover hr {
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .monaco-editor-hover hr {
    border-bottom: 0px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .monaco-editor-hover a {
    color: #006ab1;
}

.monaco-editor .monaco-editor-hover .hover-row .actions {
    background-color: #e7e7e7;
}

.monaco-editor .monaco-editor-hover code {
    background-color: rgba(220, 220, 220, 0.4);
}

.monaco-editor .snippet-placeholder {
    background-color: rgba(10, 50, 100, 0.2);
    outline-color: transparent;
}

.monaco-editor .finish-snippet-placeholder {
    background-color: transparent;
    outline-color: rgba(10, 50, 100, 0.5);
}

.mtk1 {
    color: #000000;
}

.mtk2 {
    color: #fffffe;
}

.mtk3 {
    color: #808080;
}

.mtk4 {
    color: #ff0000;
}

.mtk5 {
    color: #0451a5;
}

.mtk6 {
    color: #0000ff;
}

.mtk7 {
    color: #09885a;
}

.mtk8 {
    color: #008000;
}

.mtk9 {
    color: #8e908c;
}

.mtk10 {
    color: #dd0000;
}

.mtk11 {
    color: #f5871f;
}

.mtk12 {
    color: #666969;
}

.mtk13 {
    color: #3e999f;
}

.mtk14 {
    color: #718c00;
}

.mtk15 {
    color: #c82829;
}

.mtk16 {
    color: #383838;
}

.mtk17 {
    color: #c99e00;
}

.mtk18 {
    color: #4271ae;
}

.mtk19 {
    color: #cd3131;
}

.mtk20 {
    color: #863b00;
}

.mtk21 {
    color: #8959a8;
}

.mtk22 {
    color: #af00db;
}

.mtk23 {
    color: #800000;
}

.mtk24 {
    color: #373b41;
}

.mtk25 {
    color: #e0e0e0;
}

.mtk26 {
    color: #e00000;
}

.mtk27 {
    color: #3030c0;
}

.mtk28 {
    color: #666666;
}

.mtk29 {
    color: #778899;
}

.mtk30 {
    color: #ff00ff;
}

.mtk31 {
    color: #a31515;
}

.mtk32 {
    color: #4f76ac;
}

.mtk33 {
    color: #008080;
}

.mtk34 {
    color: #001188;
}

.mtk35 {
    color: #4864aa;
}

.mtki {
    font-style: italic;
}

.mtkb {
    font-weight: bold;
}

.mtku {
    text-decoration: underline;
    text-underline-position: under;
}