<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.submit.TestPointMapper">
    <resultMap id="testPointResultMap" type="com.hqz.hzuoj.bean.problem.TestPoint">
        <id column="test_point_id" property="testPointId"/>
        <result column="test_point_time" property="testPointTime"/>
        <result column="test_point_memory" property="testPointMemory"/>
        <result column="test_point_score" property="testPointScore"/>
        <result column="submit_id" property="submitId"/>
        <association property="judgeResult" javaType="com.hqz.hzuoj.bean.submit.JudgeResult">
            <id column="judge_result_id" property="judgeResultId"/>
            <result column="judge_name" property="judgeName"/>
            <result column="judge_abbreviation" property="judgeAbbreviation"/>
        </association>
    </resultMap>
    <insert id="saveTestPoint">
        <selectKey order="AFTER" keyProperty="testPointId" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        hzuoj_test_points
        (test_point_time,test_point_memory,test_point_score,submit_id, judge_result_id)
        VALUES(#{testPointTime},#{testPointMemory},#{testPointScore},#{submitId},#{judgeResult.judgeResultId} )
    </insert>
    <select id="getTestPoint" resultMap="testPointResultMap">
        SELECT * from hzuoj_test_points tp
        INNER JOIN hzuoj_judge_result jr
        on tp.judge_result_id = jr.judge_result_id
        where tp.submit_id = #{submitId}
    </select>
    <delete id="deleteSubmitTestPoint">
        delete from hzuoj_test_points where submit_id = #{submitId}
    </delete>
</mapper>